In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Advertising.csv")
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [6]:
df.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
# x = df.drop(["sales", "Unnamed: 0", "TV", "newspaper"], axis=1)
x = df.drop(["sales", "Unnamed: 0"], axis=1)
y = df["sales"]
print(x.head())
print(y.head())

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4
0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)

In [6]:
mdl = LinearRegression()
mdl.fit(x, y)

LinearRegression()

In [12]:
print(f"{mdl.coef_}")
print(mdl.intercept_)

[ 0.04576465  0.18853002 -0.00103749]
2.9388893694594085

In [13]:
import statsmodels.api as sm

In [17]:
ols = LinearRegression()

In [19]:
ols_result = ols.fit(x, y)

In [21]:
# ols_result.summary()

In [22]:
import regressor

AttributeError: module 'regressor' has no attribute 'summary'